In [18]:
import mysql.connector
from mysql.connector import errorcode

try: 
    cm_connection = mysql.connector.connect(
        user='localhost',
        password = 'password',
        host = '127.0.0.1',
        database="timmzatlantic"
        )
    
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR: 
        print("Invalid credentials")
    elif err.erno == errorcode.ER_BAD_DB_ERROR:
        print("Database not found")
    else:
        print("Cannot connect to database: ", err)
    exit()
        

#Execute database operations... your queries will go here
employee_data_cursor = cm_connection.cursor()
employee_data_query = ("SELECT first_name, location FROM employee_data")
employee_data_cursor.execute(employee_data_query)

for row in employee_data_cursor.fetchall():
    print("{} is located in {}".format(row[0], row[1]))

employee_data_cursor.close()

Tony is located in Chicago
Adam is located in Chicago
Kelsey is located in Remote
Jeremiah is located in Chicago
Rebecca is located in Remote

True

In [24]:
#write my own query 
sales_data_cursor = cm_connection.cursor()
sales_data_query = ("SELECT store_id, product FROM sales_data")
sales_data_cursor.execute(sales_data_query)

for row in sales_data_cursor.fetchall():
    print("{} recieved a shipment of product {}".format(row[0], row[1]))

sales_data_cursor.close()

walmart recieved a shipment 1105
walmart recieved a shipment 2210
target recieved a shipment 2210
costco recieved a shipment 2210
costco recieved a shipment 3315
Amazon recieved a shipment 1105
Amazon recieved a shipment 2210

True

In [14]:
cm_connection.close()